<h1>Menu for <%= @menu.menu_date %></h1>

<h2>Recipes</h2>
<ol>
  <% @menu.recipes.each do |r| %>
  <li><%= r.name %></li>
  <% end %>
</ol>

<h2>Recipe Steps</h2>
<table>
  <col width="150">
  <col width="700">
  <col width="50">
  <th>Recipe</th>
  <th>Step</th>
  <th>Key Temps</th>
    <% @menu.recipes.each do |r| %>
      <% r.get_directions.each do |s| %>
  <tr>
      <td><%= r.name %></td>
      <td><%= s.ingredient %></td>
      <% if (s.ingredient.scan(/\d{3}+(?=\sdegrees)/)[0].to_s).present? %>
        <td><%= (s.ingredient.scan(/\d{3}+(?=\sdegrees)/)[0].to_s) + "°" %></td>
      <% else %>
        <td></td>
      <% end %>
  </tr>
      <% end %>
    <% end %>



</table>
