<h1>Editing Menu #<%= @menu.id %></h1>


<%= form_tag(menu_url(@menu), method: 'put') do %>

  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name, @menu.name %>
  </div>

  <div>
    <%= label_tag :menu_date %><br />
    <%= text_field_tag :menu_date, @menu.menu_date %>
  </div>

  <div>
    <%= submit_tag "Update Menu" %>
  </div>
<% end %>
