<h1><%= @menu.name %></h1>

<p>
  <b>Menu date:</b>
  <%= @menu.menu_date %>
</p>
<h2>Recipes for this Menu:</h2>
  <table>
    <% @menu.menurecipejoins.each do |recipe| %>
      <%= form_tag menurecipejoin_path(recipe.id), method: 'delete' do %>
      <%= hidden_field_tag :menu_id, recipe.menu_id %>
      <tr><td><%= Recipe.find(recipe.recipe_id).name %></td><td><%= submit_tag 'Remove' %></td></tr>
      <% end %>
    <% end %>
  </table>
<p>
<div>
  <%= link_to 'Cook This Menu...', cook_menu_path(@menu.id) %>
</div>


