<h1><%= @recipe.name %></h1>

<h2>Ingredients</h2>
<ul>
<% @recipe.ingredients.each do |i| %>
<li><%= i.ingredient %></li>
<% end %>
</ul>


<%= form_tag(menurecipejoins_path, method: 'post') do %>
<%= select_tag :menu_id, options_from_collection_for_select(Menu.where(:user_id => session[:user_id]), :id, :name), :prompt => "Choose Menu" %>
  <%= hidden_field_tag :recipe_id, @recipe.id %>
<%= submit_tag 'Save Recipe' %>

<% end %>
