<h1><%= @recipe.name %></h1>

<h2>Ingredients</h2>
<ul>
<% @recipe.get_ingredients.each do |i| %>
<li><%= i.ingredient %></li>
<% end %>
</ul>
<h2>Directions</h2>
<ol>
<% @recipe.get_directions.each do |d| %>
<li><%= d.ingredient %></li>
<% end %>
</ol>

<%= link_to 'Add to Menu...', edit_recipe_path(@recipe.id) %>

<p><%= link_to 'Delete this recipe...', recipe_path(@recipe), method: 'delete' %>

</p>
<%= @recipe.key_temps %>
