<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Receipescheduler</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "fullcalendar", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "fullcalendar" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Receipescheduler</a>
        <div class="nav-collapse">
          <ul class="nav">

            <li><%= link_to "Home", "/" %></li>
            <li><%= link_to "Yummly", "/recipes" %></li>
            <li><%= link_to "Menus", "/menus" %></li>
            <li><%= link_to "Search", "/search" %></li>
            <li><%= link_to "Import", "/import" %></li>
            <li><a href="#about">About</a></li>
            <% if current_user %>
        <!--       <li><a href='#'><%= current_user.email %> is signed in.</a></li> -->
              <li id='user_header'><%= link_to 'Log Out', logout_path, method: 'delete' %></li>
            <% else %>
              <li id='user_header'><%= link_to 'Log In', login_path %></li>
              <li id='user_header'><%= link_to 'Sign Up', signup_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <% if flash[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= notice %>
    </div>
    <% end %>

    <%= yield %>


    <div class="row span12">
      <hr>
      <footer>
          <p>&copy; Company 2013</p>
      </footer>
    </div>

  </div>

</body>
</html>
